
		

#result{
	margin-left:5px;
}

#user .short{
	color:#FF0000;
}

#user .weak{
	color:#E66C2C;
}

#user .good{
	color:#2D98F3;
}

#user .strong{
	color:#006400;
}



/*********************************/
#frmChangePassWord .short{
	color:#FF0000;
}

#frmChangePassWord .weak{
	color:#E66C2C;
}

#frmChangePassWord .good{
	color:#2D98F3;
}

#frmChangePassWord .strong{
	color:#006400;
}
/*********************************/

.short{
	color:#FF0000;
}

.weak{
	color:#E66C2C;
}

.good{
	color:#2D98F3;
}

.strong{
	color:#006400;
}